@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-surface-dark: #1c1f27;
  --color-border-dark: #282e39;
  --color-text-secondary: #9da6b9;
}